ion-list{
    padding-right: 5%;
}

ion-card{
    width: 100%;
}

ion-button{
    float: right;
}

.page_titles{
    text-align: center;
    font-variant: small-caps;
}

.additional_details{
    margin-top: 5%;
}