<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title_of_page">
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Events</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--  height 99.3
        remove border
        title - maybe
        TAKE OUT ONE THING      -->
        <!-- <iframe #iframeCal src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Asia%2FRiyadh&bgcolor=%23ffffff&showCalendars=0&showPrint=0&src=YWJkdWxsYWhta2gwMDRAZ21haWwuY29t&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4uc2F1ZGlhcmFiaWFuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043" style="border-width:0" width="100%" height="99.3%" frameborder="0" scrolling="no"></iframe> -->
        <iframe #iframeCal src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FChicago&bgcolor=%23ffffff&showPrint=0&showDate=0&mode=AGENDA&title=Islamic%20Society%20of%20Denton%20Event%20Calendar&src=aXNkMTEwNUBnbWFpbC5jb20&color=%237CB342" style="border-width:0" width="100%" height="99.3%" frameborder="0" scrolling="no"></iframe>
</ion-content>
