<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title_of_page">
      Denton Masjid Prayer Times
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="image-container">
    <ion-refresher slot="fixed" [pullMin]="100" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="اللَّهُمَّ صَلِّ وَسَلِّمْ عَلَى سَيِّدِنَا مُحَمَّدٍ"
        refreshingSpinner="crescent"
      >
      </ion-refresher-content>
    </ion-refresher>
    <img alt="Background Picture for Prayer times" [src]="'../../../assets/times-' + hourOfDay + '.jpg'">
  </div>

  <!-- Transparent container with table-like structure -->
  <div class="transparent-container">

    <!-- Using ionic  -->
    <ion-grid class="ion-no-padding" *ngFor="let iq of iqama$ | async">
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4" class="time">Adhan</ion-col>
        <ion-col size="4" class="time">Iqama</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Fajr</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Fajr)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.fajr}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">Sunrise</ion-col>
        <ion-col size="7" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Sunrise)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Zuhr</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Dhuhr)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.duhr}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Asr</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Asr)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.asr}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Maghrib</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Maghrib)}}</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.IqamaTimes.maghrib)}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">Isha</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Isha)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.isha}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Jummah (ISD)</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.jummah}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"><a (click)="openMapsApp('1105 Greenlee St, Denton')">1105 Greenlee St, Denton.</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">Jummah<ion-text class="small_jummah"> (UNT MSA SPONSORED)</ion-text></ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.jummahUNT}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"><a (click)="openMapsApp('Goolsby Chalpel, 1622 Maple St, Denton')">Goolsby Chalpel, 1622 Maple St, Denton</a></ion-col>
      </ion-row>
    </ion-grid>


    <!-- <div class="table-row">
      <div class="table-cell">Row 1, Col 1</div>
      <div class="table-cell">Row 1, Col 2</div>
      <div class="table-cell">Row 1, Col 3</div>
    </div>
    <div class="table-row">
      <div class="table-cell">Row 2, Col 1</div>
      <div class="table-cell">Row 2, Col 2</div>
      <div class="table-cell">Row 2, Col 3</div>
    </div>

    <div class="bottom-text">
      <div class="left-text">Left Text</div>
      <div class="right-text">Right Text</div>
    </div> -->
  </div>

</ion-content>
