<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title_of_page">
      Denton Masjid Prayer Times
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="image-container">
    <ion-refresher slot="fixed" [pullMin]="150" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="اللَّهُمَّ صَلِّ وَسَلِّمْ عَلَى سَيِّدِنَا مُحَمَّدٍ"
        refreshingSpinner="crescent"
      >
      </ion-refresher-content>
    </ion-refresher>
    <img alt="Background Picture for Prayer times" [src]="'../../../assets/times-' + hourOfDay + '.jpg'">
  </div>

  <ng-container *ngIf="!isLoading; else loadingOutsideSkeleton">
  <!-- Transparent container with table-like structure -->
  <div class="transparent-container">

    <!-- Using ionic  -->
    <ion-grid class="ion-no-padding" *ngFor="let iq of iqama$ | async">
      <ion-row>
        <ion-col size="4"></ion-col>
        <ion-col size="4" class="time">Adhan</ion-col>
        <ion-col size="4" class="time">Iqama</ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="4">Fajr</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Fajr)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.fajr}}</ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="4">Fajr</ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{this.formatTime(httpService.adhans.data.timings.Fajr)}}
          </ng-container>
          <ng-template #loadingSkeleton>
            <ion-skeleton-text animated></ion-skeleton-text>
          </ng-template>
        </ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{IqamaTimes.fajr}}
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="5">Sunrise</ion-col>
        <ion-col size="7" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Sunrise)}}</ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="5">Sunrise</ion-col>
        <ion-col size="7" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{this.formatTime(httpService.adhans.data.timings.Sunrise)}}
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="4">Zuhr</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Dhuhr)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.duhr}}</ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="4">Zuhr</ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{this.formatTime(httpService.adhans.data.timings.Dhuhr)}}
          </ng-container>
        </ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{IqamaTimes.duhr}}
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="4">Asr</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Asr)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.asr}}</ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="4">Asr</ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{this.formatTime(httpService.adhans.data.timings.Asr)}}
          </ng-container>
        </ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{IqamaTimes.asr}}
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="4">Maghrib</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Maghrib)}}</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.IqamaTimes.maghrib)}}</ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="4">Maghrib</ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{this.formatTime(httpService.adhans.data.timings.Maghrib)}}
          </ng-container>
        </ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{this.formatTime(IqamaTimes.maghrib)}}
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="4">Isha</ion-col>
        <ion-col size="4" class="time">{{this.formatTime(this.httpService.adhans.data.timings.Isha)}}</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.isha}}</ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="4">Isha</ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{this.formatTime(httpService.adhans.data.timings.Isha)}}
          </ng-container>
        </ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{IqamaTimes.isha}}
          </ng-container>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="8">Jummah (ISD)</ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.jummah}}</ion-col>
      </ion-row> -->
      
      <ion-row>
        <ion-col size="8">Jummah (ISD)</ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{IqamaTimes.jummah}}
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12"><a (click)="openMapsApp('1105 Greenlee St, Denton')"><u>1105 Greenlee St, Denton</u></a>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="8">Jummah<ion-text class="small_jummah"> (UNT MSA SPONSORED)</ion-text></ion-col>
        <ion-col size="4" class="time">{{this.IqamaTimes.jummahUNT}}</ion-col>
      </ion-row> -->

      <ion-row>
        <ion-col size="8">Jummah<ion-text class="small_jummah"> (UNT MSA SPONSORED)</ion-text></ion-col>
        <ion-col size="4" class="time">
          <ng-container *ngIf="!isLoading; else loadingSkeleton">
            {{IqamaTimes.jummahUNT}}
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12"><a (click)="openMapsApp('Goolsby Chalpel, 1622 Maple St, Denton')"><u>Goolsby Chalpel, 1622 Maple St, Denton</u></a></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- <div *ngIf="isLoading">
    <ion-spinner name="crescent" color="tertiary"></ion-spinner>
    <p>Loading prayer times...</p>
  </div> -->

  <!-- Outside one -->
  <!-- <ng-template #loadingSkeleton>
    <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
  </ng-template> -->
    
  </ng-container>
  <ng-template #loadingOutsideSkeleton>
    <div class="transparent-container">
      <ion-skeleton-text animated class="outside-skeletion-text"></ion-skeleton-text>
    </div>
  </ng-template>

</ion-content>
